{% extends "ui/dashboard.html" %}
{% load crispy_forms_tags %}


{% block dashboard_content %}
<div class="container-fluid">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4>
        Siti
        <a href="{% url 'minisite-create' %}" class="btn btn-small btn-fab btn-danger pull-right">
          <i class=material-icons>add</i>
        </a>
      </h4>
    </div>
    <div class="panel-body">

      <div class="list-group">
      {% for minisite in object_list %}

          <a class="list-group-item" href="{% url 'minisite-detail' minisite.pk %}">
            {{minisite.name}}
          </a>
      {% endfor %}
      </div>

    </div>
  </div>

  </div>



{% endblock %}
